@import url(/css/font.css);
@import url(/css/variable.css);

*{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin: unset;
    transform: scale(1.23);
}