/* -----------------------Text align----------------------- */
.text-align--left{
    text-align: left !important;
}

.text-align--right{
    text-align: right !important;
}

.text-align--center{
    text-align: center !important;
}

/* -----------------------Display----------------------- */
.display--center-left{
    display: flex !important;
    align-items: center !important;
    justify-content: left !important;
}

.display--center-center{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.display--center-right{
    display: flex !important;
    align-items: center !important;
    justify-content: right !important;
}

/* -----------------------Margin----------------------- */
.margin--left-10{
    margin-left: 10px !important;
}

.margin--right-5{
    margin-right: 5px !important;
}

/* -----------------------Padding----------------------- */
.padding-2{
    padding: 2px !important;
}

.padding-4{
    padding: 4px !important;
}

.padding--left-10{
    padding-left: 10px !important;
}

.padding--right-10{
    padding-right: 10px !important;
}

.padding--left-2{
    padding-left: 2px !important;
}

.padding--right-2{
    padding-right: 2px !important;
}

.padding--right-4{
    padding-right: 4px !important;
}

.padding--right-5{
    padding-right: 5px !important;
}

.padding--top-6{
    padding-top: 6px !important;
}

/* -----------------------Border----------------------- */
.border{
    border-width: 1px !important;
    border-style: solid !important;
}

.border-radius-4{
    border-radius: 4px;
}

.border-radius-6{
    border-radius: 6px;
}

.border--top{
    border-top-width: 1px !important;
    border-top-style: solid !important;
}

.border--right{
    border-right-width: 1px !important;
    border-right-style: solid !important;
}

.border--bottom{
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
}

.border--left{
    border-left-width: 1px !important;
    border-left-style: solid !important;
}

.border--top-right{
    border-top-right-radius: 4px;
}

.border--top-left{
    border-top-left-radius: 4px;
}

.border--bot-right{
    border-bottom-right-radius: 4px;
}

.border--bot-left{
    border-bottom-left-radius: 4px;
}

/* -----------------------Font weight----------------------- */
.font-weight--400{
    font-weight: 400 !important;
}

.font-weight--500{
    font-weight: 500 !important;
}

.font-weight--700{
    font-weight: 700 !important;
}

/* -----------------------Font size----------------------- */
.font-size-default{
    font-size: var(--font-size-default) !important;
}

.font-size-16{
    font-size: 16px !important;
}


/* -----------------------Box sizing----------------------- */
.box-sizing--unset{
    box-sizing: unset !important;
}

/* -----------------------Color----------------------- */
.main-color{
    color: var(--main-color) !important;
}

/* -----------------------Cursor----------------------- */
.pointer{
    cursor: pointer !important;
}

/* -----------------------Width----------------------- */
.width-100per{
    width: 100% !important;
}

.height-100per{
    height: 100% !important;
}

.height-35{
    height: 35px !important;
}









/* -----------------------Old----------------------- */

.absolute{
    position: absolute !important;
}

.relative{
    position: relative !important;
}

.right{
    right: 0;
}

/*-------------------------Border--------------------*/

.br-4 {
    border-radius: 4px;
}

.br-8 {
    border-radius: 8px;
}

.border-4{
    border-radius: 4px;
}

/*-------------------------Margin--------------------*/

.mg-l-4{
    margin-left: 4px;
}

/*-------------------------Flex--------------------*/
.flex-column {
    display: flex;
    flex-direction: column;
}

.center-y {
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------------Blur--------------------*/

.blur {
    width: 100%;
    height: 100%;
    background-color: #00000029;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}