/* Import layout */
@import url(./layout/main-content.css);
@import url(./layout/navbar.css);
@import url(./layout/sidebar.css);

/* Import other */
@import url(variable.css);
@import url(base.css);

/* General css */
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

*{
  box-sizing: border-box;
  user-select: none;
}

input[type="checkbox"] {
    margin: unset;
    transform: scale(1.23);
}

@font-face {
    font-family: 'Roboto';
    src: url("../assets/font/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url("../assets/font/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url("../assets/font/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url("../assets/font/Roboto/Roboto-Italic.ttf");
    font-style: italic;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color-scroll-bar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-color-scroll-bar);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background-color-scroll-bar-hover);
}