:root {
  /* ------------------------ Table ------------------------ */
  --table-border-color: #e0dede;
  --table-body-hover: #d1edf4;
  --table-body-text-color: #0026ff;

  /* ------------------------ Background default ------------------------ */
  --background-color-default: #ffffff;

  /* ------------------------ Background table ------------------------ */
  --background-color-table-head: #f5f5f5;
  --background-color-table-expand-narrow: #e4e4e4;

  /* ------------------------ Background sidebar ------------------------ */
  --background-color-main-content: #f3f6fe;

  /* ------------------------ Background sidebar ------------------------ */
  --background-color-sidebar-sub-item: #32455c;
  --background-color-sidebar-sub-item-hover: #48586c;

  /* ------------------------ Background scroll bar ------------------------ */
  --background-color-scroll-bar: #d6d6d6;
  --background-color-scroll-bar-hover: #c4c4c4;
  --background-color-scroll-bar-track: #f1f1f1;

  /* ------------------------ Background form asset transfer ------------------------ */
  --background-color-asset-transfer-form: #fdfdfd;

  --resize-bar-color: #afafaf;

  /* ------------------------ Box shadow ------------------------ */
  --box-shadow-table: 0 3px 10px rgba(0, 0, 0, 0.16);

  /* ------------------------ Transition ------------------------ */
  --transition-02s: all ease-in-out 0.2s;

  /* ------------------------ Color ------------------------ */
  --main-color: #1aa4c8;

  /* ------------------------ Text color ------------------------ */
  --text-color-default: #edffff;

  /* ------------------------ Font size ------------------------ */
  --font-size-default: 14px;
}
