.navbar{
    background-color: #ffffff;
    width: calc(100% - 200px);
    height: 44px;
    float: right;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 23px;
    transition: all ease-in-out 0.3s;
}

.navbar--expand{
    width: calc(100% - 66px);
}

.nav-left{
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.nav-right{
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

.nav__span{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #001031;
}

.nav__icon-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
}

.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
}